# Ignore everything
/*
/*/

# Inverse ignore some stuff
!/Assets/
!/ProjectSettings/
!/Config_Files/
!/SiteData/
!.gitignore
!*.txt
!*.dll

# OS Stuff
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini

# Ridiculous sized data files
*.off
*.off.meta
*.ply
*.ply.meta
*.las
*.las.meta
*.obj
*.obj.meta
*.tif
*.tif.meta
